{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}
{% block body %}
	<section class="container mt-4">
		<h1>Salut les Zouzou</h1>
		<p>Rien ne nous ferait plus plaisir que d'avoir un message de vous :</p>
		{% if user %}
			<a href="{{ path('app_logout')}}">Logout</a>
		{% endif %}
			<a id="login" class="bg-transparent; " href="{{ path('app_login')}}">Login</a>
			<a class="" href="{{ path('app_private')}}">Flag</a>
		
		{{ render(controller(
        'App\\Controller\\TestController::new'
    )) }}
		{{ render(controller(
        'App\\Controller\\TestController::index'
    )) }}
	</section>
	<style>
		#login {
			color: #000; /* Fallback for older browsers */
			color: rgba(0, 0, 0, 0) !important;
			background-color: rgba(0, 0, 0, 0) !important;
		}
	</style>

{% endblock %}
